{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="50px" src="../../static/assets/images/favicon.png"
                alt=""><span>College Predict</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid landing">
    <div class="row" style="justify-content: left;align-items: first baseline;">
        <div class="col-md-6 heading"><span>Hii, Welcome Here Enter Details and get detailed information!!</span></div>
        <div class="col-md-6 formContainer">
            <form class="form" action="{% url 'core:college' %}" method="post">
                {% csrf_token %}
                <p class="title">Fill Details</p>
                <p class="message">Select your criteria</p>
                <div class="flex">
                    <label>
                        <select class="input" required name="institute">
                            <option value="" disabled selected hidden>Choose Institute</option>
                            {% for option in institute_options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    
                    <label>
                        <select class="input" required name="academic_program">
                            <option value="" disabled selected hidden>Choose Academic Program</option>
                            {% for option in academic_program_options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                
                <label>
                    <select class="input" required name="quota">
                        <option value="" disabled selected hidden>Choose Quota</option>
                        {% for option in quota_options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
                
                <label>
                    <select class="input" required name="seat_type">
                        <option value="" disabled selected hidden>Choose Seat Type</option>
                        {% for option in seat_type_options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
                
                <label>
                    <select class="input" required name="gender">
                        <option value="" disabled selected hidden>Choose Gender</option>
                        {% for option in gender_options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
                
                
                <label>
                    <select class="input" required name="year">
                        <option value="" disabled selected hidden>Choose Year</option>
                        {% for option in year_options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
                
                <label>
                    <select class="input" required name="round">
                        <option value="" disabled selected hidden>Choose Round</option>
                        {% for option in round_options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </label>
                <button class="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}